.detect_btn {
    padding: 15px 32px;
    font-size: 24px;
    text-align: center;
    background-color: #008CBA;
    background-repeat: no-repeat;
    border-radius: 400px;
    position: absolute;
    left: 678px;
    top: 378px;
}
.stop_cam_btn {
    padding: 15px 32px;
    font-size: 24px;
    text-align: center;
    background-color: #008CBA;
    background-repeat: no-repeat;
    border-radius: 400px;
    position: absolute;
    left: 695px;
    top: 447px;
}
.snapshot {
    padding: 15px 32px;
    font-size: 24px;
    text-align: center;
    background-color: #008CBA;
    background-repeat: no-repeat;
    border-radius: 400px;
    position: absolute;
    left: 730px;
    top: 515px;
}
body {
  background-image: url('wlppr.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container {
  margin: 0px auto;
  width: 400px;
  height: 350px;
  border: 10px #333 solid;
}
#videoElement {
  width: 400px;
  height: 350px;
  background-color: #666;
}
h1 {
          color: red;
          font-family: "arial";
          font-size: 50px;
          top: auto;
          justify-content: center;
          text-underline-position: below;
      }